@using WebApplication.Infrastructure.Extensions
@using WebApplication.Infrastructure.ViewModels.FeedViewModels
@model FeedViewModel

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" id="tn-feedbox">
        <div class="row tn-feed-row">
            <ul class="tn-feed-data list-inline">
                <li>
                    <a asp-action="Edit" asp-route-id="Id">Edit</a>

                <li>

                    @Model.StatusType
                </li>
                <div class="pull-right">
                    <li>
                        @Model.PublishedDate.TimeAgo()
                    </li>

                </div>

            </ul>
            <div class="tn-post-text">
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    @*status area*@
                    <div class="col-md-10">
                        <div class="tn-status-text">
                            @Model.Text
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="tn-feed-data-footer list-inline">
            <li>

                <span>
                    Likes
                    @Model.Likes
                </span>
            </li>



            <li>
                <div class="comment">
                    Comment
                    <span>
                        @Model.CommentsCounts
                    </span>
                </div>
            </li>
        </ul>
        <ul class="comments">
            @foreach (var item in Model.Comments)
            {

                @Html.Partial("_comments", item)



            }




