@using WebApplication.Core.Domains.Feed
@using WebApplication.Core.Domains.StatusType

@model List<FeedItem>

@{ 
    var StatusTypes = ViewBag.StatusType as List<StatusType>;
}

@foreach (var item in Model)
{

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" id="tn-feedbox">
        <div class="row tn-feed-row">
            <ul class="tn-feed-data list-inline">
                <li class="">
                    Mahesh Sunuwar
                    <span class="tn-unim-text">time ago</span>
                   
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    
                    </li>
                <li class="tn-unim-text">                    
                                    
                    @*@if (item != null && item.StatusType.Contains(StatusTypes.ToString()))
                    { 
                       @StatusTypes.ToString()
                    }*@

                    @item.StatusType
                </li>
                <div class="pull-right tn-unim-text">
                    <li>
                       @item.UpdatedAgo
                    </li>

                </div>

            </ul>
            <div class="tn-post-text">
                <div class="row">
                    <div class="col-md-2">
                        @*check photo*@
                        @*<div class="photo text-center">
                          @item.Image
                        </div>*@
                    </div>
                    @*status area*@
                    <div class="col-md-10">
                        <div class="tn-status-text">
      @item.Text
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="tn-feed-data-footer list-inline">
            <li>
                <form asp-action="IncrementLike" method="post">
                    <a href="#">Like</a>
                    <span>
                        @item.LikesCounts 
                    </span>
                </form>
                
            
            </li>

            <li>
               
                <div class="comment">
                    Comment
                    <span>
                        @item.CommentsCounts
                    </span>
                </div>
                
           
           
        
                
                @*@if (string.IsNullOrEmpty(@item.Comments.ToString()))
                {
                    @await Component.InvokeAsync("CommentDetails", @item.Comments.ToList())
                }*@
               </li>
            
        </ul>
        <ul class="comments">
            <div class="comments-box">
                <li class="tn-cmt-name">Commenters Name</li>
                <li class="tn-cmt">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </li>
            </div>
            <div class="comments-box">
                <li class="tn-cmt-name">Commenters Name</li>
                <li class="tn-cmt">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </li>
            </div>
                <hr />
                <li>
                    <form action="/" method="post">

                        <textarea class="form-control">asdfadf</textarea>
                        <button type="submit" class="tn-btn">Comment</button>



                    </form>
                </li>
            
           
        </ul>
    </div>
    <div class="col-md-3"></div>
</div>


}


