@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using WebApplication.Infrastructure.ViewModels.AccountViewModels
@using WebApplication.Identity
@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    var fb = "tn-fb";
    var twitter = "tn-twitter";
    var googleplus = "tn-gplus";
}
<<<<<<< HEAD
<div class="container">
    <div class="">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="tn-vp-center">
         <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
            <ul class="tn-panel">
                <li class="tn-panel-title">
                    Login
                </li>
                <li class="tn-form-group">
                     <label for="UserName" class="control-label sr-only">Username</label>
                    <input asp-for="UserName" class="form-control" placeholder="Email" />
                </li>
                <li class="tn-form-group">
                    <label for="password" class="control-label sr-only">Password</label>
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                </li>

                <li>
                    <label asp-for="RememberMe">
                     <input asp-for="RememberMe" />
=======

<ul class="tn-panel">
    <li class="tn-panel-title">
        Login
    </li>
    <li class="form-group">
        <input type="text" class="form-control" placeholder="Email"/>
    </li>
    <li class="form-group">
        <input type="password" class="form-control"  placeholder="Password"  />
    </li>
    <li>
        <input type="checkbox"  />
        Remember me
    </li>
    <li>
        <button type="submit" class="tn-btn form-control">Log in</button>
    </li>
    <li class="tn-forget-pass">
        <a href="#">Forgot password?</a>
    </li>
    <li class="tn-social-login">
        Sign in using
        <a href="#" class="tn-btn fb">Facebook</a>
        <a href="#" class="tn-btn twitter">Twitter</a>
        <a href="#" class="tn-btn gplus">Google +</a>
    </li>
</ul>

@*<div class="page-auth text-center">
    <div class="login-box center-block">
        <h3 class="text-center">Log in</h3>

        <section class="text-center">


            @{
                var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            We do not support login from external providers yet.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-custom-primary" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>





        <div class="separator"><span>OR</span></div>
        <div class="text-center separator">OR</div>


        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">

            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="UserName" class="control-label sr-only">Username</label>
                <div class="col-md-12">

                    <div class="input-group">
                        <input asp-for="UserName" class="form-control" placeholder="Email Address*" />
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>


                    </div>

                    <span asp-validation-for="UserName" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group">
                <label for="password" class="control-label sr-only">Password</label>
                <div class="col-md-12">
                    <div class="input-group">
                        <input asp-for="Password" class="form-control" placeholder="Password*" type="password" />
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <span asp-validation-for="Password" class="text-danger "></span>
                    </div>

                </div>
            </div>

            <p>
                <a asp-action="ForgotPassword">Forgot your password?</a>
            </p>

            <p>
                <a asp-action="ResendEmailConfirmation">Confirmation Email didnt get?</a>
            </p>

            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
>>>>>>> 9a9c16a56937cf2fa42337cfaec975fcba9c3387
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
                </li>

                <li>
                    <button type="submit" class="tn-btn form-control">Log in</button>
                </li>
                <li class="tn-forget-pass">
                    <a asp-action="ForgotPassword">Forgot password?</a>
                </li>
                <li class="tn-social-login">
                    <div class="tn-social-login-title">
                        Sign in with
                    </div>

                    <br />
                    <div class="tn-social-login-body">
                        
                        @{
                            var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                            if (loginProviders.Count == 0)
                            {
                                <div>
                                    <p>
                                        We do not support login from external providers yet.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                                    <div>
                                        <p>
                                            @foreach (var provider in loginProviders)
                                            {
                                                <button type="submit" class="tn-btn tn-btn-md 
                                                        @if (provider.AuthenticationScheme == "Facebook")
                                                        {
                                                        @fb

                                                        }
                                                        @if (provider.AuthenticationScheme == "Twitter")
                                                        {
                                                            @twitter

                                                        }
                                                        @if (provider.AuthenticationScheme == "Google")
                                                        {
                                                        
                                                            @googleplus
                                                        }

                                                        " name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </div>
                </li>
            </ul>
         </form>>
    </div>

</div>



<<<<<<< HEAD
=======
</div>*@
>>>>>>> 9a9c16a56937cf2fa42337cfaec975fcba9c3387

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}